@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
	--color-blue-primary: 51, 66, 206;
	--color-blue-darker: 46, 59, 185;
	--color-light: 233, 236, 239;
	--color-white: 248, 249, 250;
	--color-dark: 33, 37, 41;
	--color-black: 0, 0, 0;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: Poppins, sans-serif;
	color: rgb(var(--color-dark));
}

::selection {
	color: rgb(var(--color-white));
	background-color: rgb(var(--color-blue-primary));
}

body,
#header {
	background-color: rgb(var(--color-white));
}

.btn,
.navbar__links li a,
a,
a:active {
	text-decoration: none;
}

#contact ul,
.navbar__links li {
	list-style: none;
}

#about,
#footer {
	color: rgb(var(--color-white));
}

li,
p,
span {
	font-size: 1.6rem;
	font-weight: 400;
}

a {
	font-weight: 500;
	color: rgb(var(--color-dark));
	transition: 0.3s;
}

.navbar__links li a:hover,
a:hover {
	color: rgb(var(--color-blue-primary));
}

a.active {
	color: rgb(var(--color-blue-primary)) !important;
}

img {
	border-radius: 10px;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(var(--color-white)) !important;
	font-size: 1.6rem;
	background-color: rgb(var(--color-blue-primary));
	padding: 1rem 5rem;
	border-radius: 5px;
	transition: 100ms;
}

.btn:hover {
	background-color: rgb(var(--color-blue-darker));
	transform: scale(1.05);
}

.btn-secondary {
	background: transparent;
	color: rgb(var(--color-blue-primary)) !important;
	border: 3px solid rgb(var(--color-blue-primary));
}

#contact,
.projects__list__item {
	background-color: rgb(var(--color-light));
}

.btn-secondary:hover {
	color: rgb(var(--color-white)) !important;
	background-color: rgb(var(--color-blue-primary));
}

#about,
.hamburger__bar,
#footer {
	background-color: rgb(var(--color-dark));
}

.hidden {
	display: none !important;
}

.loading {
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
	overflow-x: hidden;
}

.loading__spinner {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 8px solid rgba(var(--color-blue-darker), 0.45);
	border-radius: 50%;
	border-top-color: rgb(var(--color-blue-primary));
	animation: 1s ease-in-out infinite spin;
	-webkit-animation: 1s ease-in-out infinite spin;
}

/* Header Section */

.percentage-left,
.percentage-scrolled {
	position: fixed;
	top: 0;
	height: 5px;
}

.percentage-left {
	width: 100%;
	background-color: rgba(var(--color-blue-darker), 0.3);
	z-index: 40;
}

.percentage-scrolled {
	width: 0%;
	background-color: rgb(var(--color-blue-primary));
	z-index: 40;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.5rem 15rem;
	box-shadow: 1px 1px 0px rgba(var(--color-black), 0.1);
	z-index: 30;
}

.navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	color: rgb(var(--color-dark));
}

.navbar__logo {
	font-size: 3.2rem !important;
	font-weight: 700 !important;
	transition: 0.3s;
}

.navbar__logo:hover {
	transform: rotate(2deg);
}

.navbar__links {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.navbar__links li a {
	color: rgb(var(--color-dark));
}

.navbar__links .btn {
	padding: 1rem 2rem;
}

.hamburger {
	position: absolute;
	top: 1.2rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 3rem;
	height: 2.1rem;
}

.hamburger__bar {
	height: 3px;
	width: 100%;
	border-radius: 10px;
}

#hero,
#projects {
	display: flex;
	flex-direction: column;
}

.section-title {
	font-size: 4.8rem;
}

/* Hero Section */

#hero {
	position: relative;
	overflow: hidden;
}

#hero::before {
	content: '';
	position: absolute;
	inset: 0;
	background: url('./images/wave.svg') bottom / cover no-repeat;
	transform: translateY(100px);
	animation-name: moveUp;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
}

.hero__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	animation-name: fadeIn;
	animation-duration: 1000ms;
	position: relative;
	z-index: 1;
}

.hero__container__title {
	text-align: center;
	font-size: 6.4rem;
	line-height: 1.1;
	max-width: 65vw;
	padding: 1rem 0;
	color: transparent;
	background: url('images/hero-title-bg.gif') top / cover no-repeat text;
	position: relative;
	z-index: 0;
}

.hero__container__content {
	margin-top: 2rem;
	font-weight: 400;
	text-align: center;
}

.hero__container__buttons {
	margin-top: 3rem;
	display: flex;
	gap: 1.5rem;
}

/* About Section */

#about {
	padding: 5rem 15rem 7rem;
}

.about__container {
	display: grid;
	grid-template-columns: 30rem 1fr;
	justify-content: center;
	gap: 7rem;
	max-width: 1280px;
	margin: 0 auto;
}

.about__container__image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__container__image img {
	width: 100%;
	height: 100%;
}

.about__container__content {
	display: flex;
	overflow: hidden;
	word-wrap: wrap;
	flex-direction: column;
	gap: 1rem;
}

/* Skills Section */

#skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7rem 20rem 0;
	gap: 2rem;
	background: url('./images/blob.svg') top / cover no-repeat;
}

.skills__list {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	max-width: 1280px;
	margin: 0 auto;
	list-style: none;
}

.skills__list__item {
	padding: 0.7rem;
	border: 3px solid rgb(var(--color-blue-primary));
	color: rgb(var(--color-blue-primary));
	background-color: transparent;
	border-radius: 10px;
	transition: 300ms;
	margin-bottom: 0.3rem;
	opacity: 0;
}

.skills__List__item:hover {
	transform: rotate(10deg);
}

.appear {
	animation-name: appear;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

/* Projects Section */

#projects {
	display: flex;
	align-items: center;
	padding: 7rem 0;
	gap: 3rem;
}

.projects__list {
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr;
	padding: 0 5rem;
}

.contact-container ul,
.project__buttons {
	gap: 1rem;
	display: flex;
}

.projects__list__item {
	display: grid;
	max-width: 1280px;
	margin: 0 auto;
	column-gap: 3rem;
	padding: 3rem;
	border-radius: 5px;
	box-shadow: 2px 2px 1px rgba(var(--color-black), 0.1);
	transition: 300ms;
}

.projects__list__item:nth-of-type(even) {
	grid-template-columns: 40rem 1fr;
}

.projects__list__item:nth-of-type(odd) {
	grid-template-columns: 1fr 40rem;
}

.projects__list__item:nth-of-type(odd) .project__buttons {
	justify-content: flex-start;
}

.projects__list__item:hover {
	transform: translateY(-5px);
}

.project__image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects__list__item img {
	object-fit: cover;
	height: 240px;
}

.project {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project__title {
	font-size: 3.6rem;
}

.project__skills {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.project__buttons {
	justify-content: end;
	margin-top: 1rem;
}

/* Contact Section */

#contact {
	padding: 5rem;
}

.contact__container {
	max-width: 1280px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 30rem;
	gap: 20rem;
}

.contact__container__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.contact__container__list__item a {
	display: flex;
	justify-content: center;
	color: rgb(var(--color-blue-darker));
}

.contact__container__list__item__icon {
	width: 2.4rem;
	margin-right: 0.5rem;
	fill: rgb(var(--color-blue-darker));
}

.contact__container a:hover,
.contact__container__list__item__icon:hover {
	fill: #2935a5;
	color: #2935a5;
}

#footer {
	padding: 2rem;
	text-align: center;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes fadeIn {
	0% {
		transform: translateY(40px);
		opacity: 0;
		visibility: hidden;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes moveUp {
	from {
		transform: translateY(100px);
	}
	to {
		transform: translateY(0);
	}
}

@media only screen and (max-width: 1300px) {
	#header {
		padding: 1rem 5rem;
	}

	.hero__container {
		padding: 10rem 2rem;
	}

	.hero__container__title {
		line-height: 1.2;
		margin-bottom: 3rem;
	}

	#about {
		padding: 5rem 5rem;
		gap: 3rem;
	}

	#projects {
		padding: 5rem 2rem;
	}

	.project__list__item:nth-of-type(odd) {
		display: flex;
		flex-direction: column-reverse;
	}

	.project__list__item:nth-of-type(even) {
		display: flex;
		flex-direction: column;
	}

	.project__list__item img {
		margin-bottom: 2rem;
		height: auto;
	}

	.project {
		gap: 1.5rem;
	}

	.project__buttons {
		text-align: center;

		* {
			width: 50%;
		}
	}

	.contact__container {
		grid-template-columns: repeat(2, auto);
		padding: 3rem 5rem;
		gap: 5rem;
	}
}

@media only screen and (max-width: 870px) {
	#header {
		background-color: rgb(var(--color-dark));
		border-top: 0;
		padding: 1rem 2rem;
	}

	#header a {
		color: rgb(var(--color-white));
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar__links.active,
	.hamburger {
		display: flex;
	}

	.hamburger__bar {
		background-color: rgb(var(--color-white));
	}

	.navbar__links {
		display: none;
		margin-top: 1rem;
		width: 100%;
	}

	.navbar__links ul {
		width: 100%;
		flex-direction: column;
		gap: 1rem;
	}

	.navbar__links ul li a {
		color: rgb(var(--color-white));
		padding: 0.5rem 1rem;
	}

	a.active {
		color: rgb(var(--color-white)) !important;
	}
}

@media only screen and (max-width: 768px) {
	.navbar__links ul li,
	.project__buttons {
		text-align: center;
	}

	.about__container,
	.contact__container,
	.projects__list {
		grid-template-columns: 1fr;
	}

	.hero__container {
		max-width: 1280px;
		margin: 0 auto;
		padding: 10rem 5rem;
		min-height: 100vh;
	}

	.hero__container__title {
		line-height: 1.2;
		margin-bottom: 3rem;
		max-width: 100%;
		font-size: 4.8rem;
	}

	.hero__container__content {
		margin-top: 0;
	}

	.hero__container__buttons {
		display: flex;
		flex-direction: column;
	}

	#about {
		padding: 5rem 3rem;
		gap: 3rem;
	}

	#skills {
		padding: 3rem 5rem;
		background: none;
	}

	#projects {
		padding: 5rem 1rem;
		background: none;
	}

	.projects__list__item {
		display: flex;
		flex-direction: column;
	}

	.project__buttons {
		flex-direction: column;

		* {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 1300px) {
	.projects__list__item {
		display: flex;
		flex-direction: column;
	}

	.projects__list__item img {
		order: 0;
	}
}
