@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
	--color-blue-primary: 51, 66, 206;
	--color-blue-darker: 46, 59, 185;
	--color-light: 233, 236, 239;
	--color-white: 248, 249, 250;
	--color-dark: 33, 37, 41;
	--color-black: 0, 0, 0;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: Poppins, sans-serif;
	color: rgb(var(--color-dark));
}

::selection {
	color: rgb(var(--color-white));
	background-color: rgb(var(--color-blue-primary));
}

body,
header {
	background-color: rgb(var(--color-white));
}

.btn,
.navbar-links li a,
a,
a:active {
	text-decoration: none;
}

#contact ul,
.navbar-links li {
	list-style: none;
}

#about,
footer {
	color: rgb(var(--color-white));
}

li,
p,
span {
	font-size: 1.6rem;
	font-weight: 400;
}

a {
	font-weight: 500;
	color: rgb(var(--color-dark));
	transition: 0.3s;
}

.navbar-links li a:hover,
a:hover {
	color: rgb(var(--color-blue-primary));
}

a.active {
	color: rgb(var(--color-blue-primary)) !important;
}

img {
	border-radius: 10px;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(var(--color-white)) !important;
	font-size: 1.6rem;
	background-color: rgb(var(--color-blue-primary));
	padding: 1rem 5rem;
	border-radius: 5px;
	transition: 100ms;
}

.btn:hover {
	background-color: rgb(var(--color-blue-darker));
	transform: scale(1.05);
}

.btn-secondary {
	background: transparent;
	color: rgb(var(--color-blue-primary)) !important;
	border: 3px solid rgb(var(--color-blue-primary));
}

#contact,
.project {
	background-color: rgb(var(--color-light));
}

.btn-secondary:hover {
	color: rgb(var(--color-white)) !important;
	background-color: rgb(var(--color-blue-primary));
}

#about,
.toggle-button .bar,
footer {
	background-color: rgb(var(--color-dark));
}

.hidden {
	display: none !important;
}

.loading-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	overflow-x: hidden;
}

.loading {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 8px solid rgba(var(--color-blue-darker), 0.45);
	border-radius: 50%;
	border-top-color: rgb(var(--color-blue-primary));
	animation: 1s ease-in-out infinite spin;
	-webkit-animation: 1s ease-in-out infinite spin;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.percContentToScroll,
.percOfScrolled {
	position: fixed;
	top: 0;
	height: 5px;
}

.percContentToScroll {
	width: 100%;
	background-color: rgba(var(--color-blue-darker), 0.3);
	z-index: 2;
}

.percOfScrolled {
	width: 0%;
	background-color: rgb(var(--color-blue-primary));
	z-index: 3;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.5rem 15rem;
	box-shadow: 1px 1px 0px rgba(var(--color-black), 0.1);
	z-index: 1;
}

.navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	color: rgb(var(--color-dark));
}

.logo {
	font-size: 3.2rem !important;
	font-weight: 700 !important;
	transition: 0.3s;
}

.logo:hover {
	transform: rotate(2deg);
}

.navbar-links ul {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.navbar-links li a {
	color: rgb(var(--color-dark));
}

.navbar-links .btn {
	padding: 1rem 2rem;
}

.toggle-button {
	position: absolute;
	top: 1.2rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 3rem;
	height: 2.1rem;
}

#home,
#projects {
	display: flex;
	flex-direction: column;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	border-radius: 10px;
}

#home {
	background: url('./images/wave.svg') bottom / cover no-repeat;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	animation-name: fadeIn;
	animation-duration: 1000ms;
}

@keyframes fadeIn {
	0% {
		transform: translateY(40px);
		opacity: 0;
		visibility: hidden;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

.hero-title {
	text-align: center;
	font-size: 6.4rem;
	line-height: 1.1;
	max-width: 65vw;
	padding: 1rem 0;
	color: transparent;
	background: url('https://i.gifer.com/origin/0c/0c22fcec9723a9839ae87b7b77c2ca85_w200.gif') top / cover no-repeat text;
	position: relative;
	z-index: 0;
}

.hero-content {
	margin-top: 2rem;
	font-weight: 400;
	text-align: center;
}

.hero-buttons {
	margin-top: 3rem;
	display: flex;
	gap: 1.5rem;
}

#about {
	display: grid;
	grid-template-columns: 30rem 1fr;
	justify-content: center;
	gap: 7rem;
	padding: 7rem 30rem 10rem;
}

.section-title {
	font-size: 4.8rem;
}

.about-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-img img {
	width: 100%;
	height: 100%;
}

.about-texts {
	display: flex;
	overflow: hidden;
	word-wrap: wrap;
	flex-direction: column;
	gap: 1rem;
}

#skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7rem 20rem 0;
	gap: 2rem;
	background: url('./images/blob.svg') top / cover no-repeat;
}

.skills {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	max-width: 90rem;
}

.skill-badge {
	padding: 0.7rem;
	border: 3px solid rgb(var(--color-blue-primary));
	color: rgb(var(--color-blue-primary));
	background-color: transparent;
	border-radius: 10px;
	transition: 300ms;
	margin-bottom: 0.3rem;
	cursor: default;
}

.skills .skill-badge {
	opacity: 0;
}

.skill-badge:hover {
	transform: rotate(10deg);
}

.appear {
	animation-name: appear;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#projects {
	display: flex;
	align-items: center;
	padding: 7rem 20rem;
	gap: 3rem;
}

.project-cards {
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr;
}

#contact ul,
.project-buttons {
	gap: 1rem;
	display: flex;
}

.project {
	display: grid;
	width: 75vw;
	column-gap: 3rem;
	padding: 3rem;
	border-radius: 5px;
	box-shadow: 2px 2px 1px rgba(var(--color-black), 0.1);
	transition: 300ms;
}

.project:nth-of-type(odd) {
	grid-template-columns: 40rem 1fr;
}

.project:nth-of-type(even) {
	grid-template-columns: 1fr 40rem;
}

.project:nth-of-type(even) .project-buttons {
	justify-content: flex-start;
}

.project:hover {
	transform: translateY(-5px);
}

.project-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.project img {
	height: 250px;
}

.project-details {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project-title {
	font-size: 3.2rem;
}

.project-skills {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.project-buttons {
	justify-content: end;
	margin-top: 1rem;
}

#contact {
	display: grid;
	grid-template-columns: 1fr 30rem;
	gap: 10rem;
	padding: 5rem 20rem;
}

#contact ul {
	flex-direction: column;
	align-items: flex-start;
}

#contact a {
	display: flex;
	justify-content: center;
	color: rgb(var(--color-blue-darker));
}

.list-icon {
	width: 2.4rem;
	margin-right: 0.5rem;
	fill: rgb(var(--color-blue-darker));
}

#contact a:hover,
.list-icon:hover {
	fill: #2935a5;
	color: #2935a5;
}

footer {
	padding: 2rem;
	text-align: center;
}

@media only screen and (max-width: 1300px) {
	header {
		padding: 1rem 5rem;
	}

	.hero {
		padding: 10rem 2rem;
	}

	.hero-title {
		line-height: 1.2;
		margin-bottom: 3rem;
	}

	#about {
		padding: 5rem 3rem;
		gap: 3rem;
	}

	#projects {
		padding: 5rem 2rem;
	}

	.project:nth-of-type(odd) {
		display: flex;
		flex-direction: column;
	}

	.project:nth-of-type(even) {
		display: flex;
		flex-direction: column-reverse;
	}

	.project img {
		margin-bottom: 2rem;
	}

	.project-buttons {
		text-align: center;
		flex-direction: column;
	}

	#contact {
		grid-template-columns: repeat(2, auto);
		padding: 3rem 10rem;
		gap: 2rem;
	}
}

@media only screen and (max-width: 768px) {
	.navbar-links ul li,
	.project-buttons {
		text-align: center;
	}

	#about,
	#contact,
	.project-cards {
		grid-template-columns: 1fr;
	}

	header {
		background-color: rgb(var(--color-dark));
		border-top: 0;
		padding: 1rem 2rem;
	}

	header a {
		color: rgb(var(--color-white));
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links.active,
	.toggle-button {
		display: flex;
	}

	.toggle-button .bar {
		background-color: rgb(var(--color-white));
	}

	.navbar-links {
		display: none;
		margin-top: 1rem;
		width: 100%;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
		gap: 1rem;
	}

	.navbar-links ul li a {
		color: rgb(var(--color-white));
		padding: 0.5rem 1rem;
	}

	a.active {
		color: rgb(var(--color-white)) !important;
	}

	.hero {
		padding: 10rem 2rem;
		min-height: auto;
	}

	.hero-title {
		line-height: 1.2;
		margin-bottom: 3rem;
		max-width: 100%;
		font-size: 4.8rem;
	}

	.hero-content {
		margin-top: 0;
	}

	.hero-buttons {
		display: flex;
		flex-direction: column;
	}

	#about {
		padding: 5rem 3rem;
		gap: 3rem;
	}

	#skills {
		padding: 3rem 3rem;
		background: none;
	}

	#projects {
		padding: 5rem 1rem;
		background: none;
	}

	.project {
		display: flex;
		flex-direction: column;
	}

	.project img {
		display: none;
	}

	.project-buttons {
		flex-direction: column;
	}

	#contact {
		padding: 3rem;
		gap: 2rem;
	}
}

@media only screen and (max-width: 1300px) {
	.project {
		display: flex;
		flex-direction: column;
	}

	.project img {
		order: 0;
	}
}
